body{
	background-color: gray;
	margin: auto;
	padding: 0;
	font: stencil;
	font-size: 18px;
	line-height: 1.6em;
}

a{
	text-decoration: none;
	color:#000;
}

a:hover{
	color: red;
}

a:active{
	color:black;
}

a:visited{
	color:gold;
}

.container{
	width: 53%;
	margin: auto;
	padding: 5px;
}

.box-1{
	background-color: #333;
	color:#fff;
	border:5px red solid;
	padding: 20px;
}

.box-1 h1{
	font-family: stencil;
	font-style: italic;
	text-decoration: underline;
}

.categories{
	padding:5px;
	background-color:red;
}

.categories h2{
	text-align:center;
	text-decoration: italic;
}

.categories ul{
	padding:0;
	padding-left: 5px;
	word-spacing: 2px;
	border-spacing: 10px;
}

.categories li{
	padding-bottom: 8px;
	display: inline-table;
	background-color: #333;
}

.img{
	padding: 5px;
	text-align:center;
	border: gold solid;
	background-color: black;
}

.iframe{
	padding: 25px;
	text-align: center;
	background-color: red;
	border: silver solid;
}

.paragraph{
	background-color: black;
	color: silver;
	margin: 25px;
	padding: 5px;
	font-size: 24px;
	text-align:center;
}