body{
	background-color: gray;
	margin: auto;
	padding: 0;
	font: arial;
	font-size: 18px;
	line-height: 1.6em;

}
a{
	text-decoration: none;
	color:#000;
}

a:hover{
	color: red;
}

a:active{
	color:black;
}

a:visited{
	color:gold;
}

.container{
	width: 80%;
	margin: auto;
	
}

.box-1{
	background-color: #333;
	color:#fff;
	border:5px red solid;
	padding: 20px;
	margin: 20px;

}

.box- h1{
	font-family: tahoma;
	font-style: italic;
	text-decoration: underline;
}

.categories{
	border: 1px;
	padding:40px;
	border-radius: 15px;
	box-sizing: border-box;
	border: 1px solid #000;
}

.categories h2{
	text-align:center;
}

.categories ul{
	padding:0;
	padding-left: 5px;
	list-style: square;
}

.categories li{
	padding-bottom: 8px;
	border-bottom: double;

}

.img{
	padding: 0;
	text-align:center;
	border: gold solid;
	background-color: black;
}

.iframe{
	padding: 0;
	text-align: center;
}