body{
	background-color: gray;
	margin: auto;
	padding: 15px;
	line-height: 1.6em;
	align-self: center;
}

.header{
	margin: auto;
	padding: auto;
	background-color: black;
	color:gray;
}

.container{
	text-align: center;
	margin:auto;
	border: black solid;

}

.footer{
	color: black;
	font-size: 5mm;
	align-self: center;
	text-align:center;
}